<!doctype html>
<html
    class="no-js supports-no-cookies {% if request.path == '/challenge' %} grow-full {% endif %}"
    lang="{{ shop.locale }}"
    style="--sf-page-opacity: 0;"
>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="theme-color" content="{{ settings.color_accent }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="dns-prefetch" href="{{ canonical_url }}" crossorigin>
    <link rel="dns-prefetch" href="https://cdn.shopify.com" crossorigin>
    <link rel="preconnect" href="{{ canonical_url }}" crossorigin>
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <link rel="preload" as="style" href="{{ 'theme.css' | asset_url }}">
    <link rel="preload" as="script" href="{{ 'app.min.js' | asset_url }}">
	{%- if settings.favicon != blank -%}
	<link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
	{%- endif -%}

  <title>
    {{ shop.name }} &ndash; {{ 'general.password_page.opening_soon' | t }}
  </title>

  {%- if page_description -%}
		<meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}
    {% render 'font-face' %}
    {% render 'social-meta-tags' %}
    {% render 'critical-scripts' %}
    {% render 'style-tags' %}
    {% render 'script-tags' %}
    {% render 'critical-css' %}
    {{ content_for_header }}

  {% render 'qikify-apps' %}
</head>
<body
    class="template-{{ template.name | handle }} relative min-h-screen"
>
    <div class="hidden">{% section 'header' %}</div>
    <main role="main" id="MainContent" style="padding-top: 0 !important;">
        {{ content_for_layout }}
    </main>

    <script src="{{ 'app.min.js' | asset_url }}" defer="defer"></script>
</body>
</html>
