{%- capture body_classes -%}
template-{{ template.name | handle }} {{ template.name }}-{{ template.suffix }} {{ template.name | append: '-' | append: handle }} {% if cart.item_count == 0 %}cart-empty{% endif %}
{%- endcapture -%}
{%- capture html_classes -%}
no-js supports-no-cookies {%- if request.path == '/challenge' -%}grow-full{%- endif -%}
{%- endcapture -%}

<!doctype html>
<html
  class="{{- html_classes -}}"
  lang="{{ request.locale.iso_code }}" 
  style="--sf-page-opacity: 0;"
  data-template="{{ template.name }}"
>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
	<meta name="theme-color" content="{{ settings.color_primary }}">

  {% render 'preload' %}
  {% render 'SEO' %}
  {% render 'social-meta-tags' %}
  {% render 'font-face' %}
  {% render 'critical-css' %}
  {% render 'critical-scripts' %}
  {% render 'style-tags' %}
  {% render 'custom-code-head' %}

  {% comment %} {% render 'content_for_header' %} {% endcomment %}
  
  {% include 'meteor-menu', load: 'head' %}
  {{ content_for_header }}

	{{ shop.metafields.loox["global_html_head"] }}
	  
<!-- RYVIU APP :: Settings global -->	
    <script> var ryviu_global_settings = {{shop.metafields.ryviu.user_settings }};</script>
<!-- RYVIU APP -->
  <style>
    .template-index [data-swiper-slide-index="0"] .collection-card h3 a.text-black {
/*       color: #fff; */
    }
    .template-index .collection-card--inside .collection-card__info.text-left .btn{
    	display: none;
    }
    .template-index .collection-card__inner {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .template-index .collection-card--inside .collection-card__info {
        position: absolute;
        left: unset;
        right: unset;
        bottom: unset;
        margin-top: unset;
        padding: 0.75rem;
    }
  </style>

  {% render 'qikify-apps' %}
</head>

<body
  id="sf-theme" style="opacity: 0;"
  class="{{ body_classes }} relative min-h-screen"
  {% if template.name == 'product' %}data-product-id="{{ product.id }}"{% endif %}
>
  {% render 'theme-data' %}
  {% section 'annoucement' %}
  {% section 'header' %}

  <main role="main" id="MainContent">
    {% render 'scroll-top-button' %}
    {{ content_for_layout }}
  </main>

  {% section 'footer' %}
  {% section 'mobile-sticky-bar' %}

  {% render 'custom-code-body' %}
  {% render 'foxkit-messenger' %}
  {% render 'script-tags' %}

	{{ shop.metafields.loox["global_html_body"] }}
</body>
</html>
