{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available when you add "Collection list" section in the Theme Editor.

  Theme Store required settings
  - Heading: title of the collection list section
  - Collection
{%- endcomment -%}
{% assign bg_color = section.settings.background_color %}
{% assign has_bg = false %}

{% unless bg_color == "rgba(0,0,0,0)" or bg_color == blank %}
    {% assign has_bg = true %}
{% endunless %}

{% assign items_per_row = section.settings.items_per_row %}
{% assign first_ratio = '3/4' %}

{% assign enable_slider = false %}
{% assign layout = section.settings.layout %}
{% if section.settings.enable_slider == true and section.blocks.size > 3 %}
    {% assign enable_slider = true %}
{% endif %}

{% capture container %}
    {% if enable_slider %}w-full{% else %}{{ section.settings.container }}{% endif %}
    {% if has_bg == false %} section-my {% else %} section-py {% endif %}
{% endcapture %}


{% assign card_style = section.settings.card_style %}
{% assign show_pagination = section.settings.show_pagination %}
{% assign show_navigation = section.settings.show_navigation %}
{% assign autorotate = section.settings.autorotate %}
{% assign autorotate_speed = section.settings.autorotate_speed %}

{% assign fluid_container_width = settings.container_fluid_width %}
{% assign container_width = settings.container_width %}
{% assign container_fluid_offset = settings.container_fluid_offset | times: 2 %}
{% assign use_scroll_mobile = section.settings.use_scroll_mobile %}

{% style %}
{% if enable_slider and section.settings.container == 'container' %}
    {% if layout != 'left-side' %}
        .collection-list .collection-list__inner--overflow {
            padding-left: 1rem;
        }
        @media (min-width: {{ container_width }}px) {
            .collection-list .collection-list__inner--overflow {
                padding-left: calc((100vw - {{ container_width }}px)/ 2);
            }
        }
    {% else %}
        .collection-list__inner {
            padding-left: 1rem;
        }
        @media (min-width: {{ container_width }}px) {
            .collection-list__inner {
                padding-left: calc((100vw - {{ container_width }}px + {{ section.settings.item_gap }}px)/ 2);
            }
        }
    {% endif %}
{% endif %}
{% if enable_slider and section.settings.container == 'container-fluid' %}
    {% if layout != 'left-side' %}
        .collection-list .collection-list__inner--overflow {
            padding-left: 1rem;
        }
        @media (min-width: 1024px) {
            .collection-list {
                padding-left: 0;
                padding-right: 0;
            }
            .collection-list .collection-list__inner--overflow {
                padding-left: 0;
                padding-left: calc(var(--fluid-container-offset, 6rem) / 1.25);
            }
        }
        @media (min-width: {{ fluid_container_width | plus: container_fluid_offset }}px) {
            .collection-list .collection-list__inner--overflow {
                padding-left: calc((100vw - {{ fluid_container_width }}px)/ 2);
            }
        }
    {% else %}
        .collection-list__inner {
            padding-left: 1rem;
        }
        @media (min-width: 1024px) {
            .collection-list__inner {
                padding-left: calc(var(--fluid-container-offset, 6rem) / 1.25);
            }
        }
        @media (min-width: {{ fluid_container_width | plus: container_fluid_offset }}px) {
            .collection-list__inner {
                padding-left: calc((100vw - {{ fluid_container_width }}px)/ 2);
            }
        }
    {% endif %}
{% endif %}
{% endstyle %}

{% capture section_content %}
    {% if section.settings.heading != blank or section.settings.subheading != blank or section.settings.description != blank %}
        {% if enable_slider and section.settings.layout != 'left-side' %}<div class="section-header__container {{ section.settings.container }}">{% endif %}
        <div class="section__header relative w-full text-{{ section.settings.header_alignment }}{% if section.settings.layout == 'left-side' %} xl:ml-0{% endif %}">
            {% if section.settings.subheading != blank %}
                <p class="section__subheading">{{ section.settings.subheading }}</p>
            {% endif %}
            {% if section.settings.heading != blank %}
                <h2 class="rte section__heading">{{ section.settings.heading }}</h2>
            {% endif %}
            {% if section.settings.description != blank %}
                <div class="rte section__description">{{ section.settings.description }}</div>
            {% endif %}
            {% if enable_slider %}
                <div class="collection-list__controls{% if section.settings.hidden_slide_control_mobile %} hide-on-mb{% endif %} flex{% if layout == 'left-side' %} xl:mt-10{% else %} absolute{% endif %}">
                    {% render 'slider-controls', custom_class: 'justify-start', show_nav: show_navigation, show_pagination: show_pagination, dots_class: 'sf__dot-dark' %}
                </div>
            {% endif %}
        </div>
        {% if enable_slider and section.settings.layout != 'left-side' %}</div>{% endif %}
    {% endif %}

    <div class="sf__ms{% if enable_slider == true %} sf-grid sf__ms--slider collection-list__inner--overflow{% endif %}{% unless use_scroll_mobile %} sf__ms--mb-grid{% endunless %}">
        <div class="sf__ms-wrapper {% if enable_slider == false %}sf-grid grid sf__ms-wrapper--max {% else %}flex flex-nowrap {% endif %} md:grid-cols-{{ items_per_row | divided_by: 2 | ceil }} xl:grid-cols-{{ items_per_row }}{% if enable_slider %} sf-slider-{{ section.id }} swiper-container swiper--equal-height{% endif %}">
            {% if enable_slider == true %}<!-- Start .swiper-wrapper --><div class="swiper-wrapper">{% endif %}
            {% for block in section.blocks %}
                {% case block.type %}
                    {% when 'collection_block' %}
                        {% if forloop.first == true %}
                            {% assign first_ratio = block.settings.item_image.aspect_ratio %}
                        {% endif %}
                        {%- assign collection = collections[block.settings.collection] -%}
                        {%- assign default_label = 'homepage.onboarding.collection_title' | t -%}
                        {% render 'collection-card', section: section, collection: collection, card_style: card_style, text_alignment:  section.settings.text_alignment, image: block.settings.item_image, show_product_count: section.settings.show_product_count, enable_slider: enable_slider, image_rounded: section.settings.image_rounded, hover_effect: section.settings.hover_effect, title: block.settings.title, url: block.settings.url %}
                    {% when 'banner' %}
                        {%- assign collection = collections[block.settings.collection] -%}
                        <div class="sf-column{% if enable_slider %} swiper-slide{% endif %}">
                            <div class="collection-card">
                                <a  href="{{ collection.url | default: "#" }}"
                                    class="grid group items-center overflow-hidden w-full"
                                    style="--aspect-ratio: {{ first_ratio |  default: '3/4' }}"
                                >
                                    <div>
                                        <div class="relative grid h-full w-full p-4 py-8 text-center" style="background: {{ block.settings.item_bg }}">
                                            <h3 class="text-2xl md:text-4xl self-end" style="color: {{ block.settings.item_text_color }}">{{ block.settings.title }}</h3>
                                            <p class="self-end" style="color: {{ block.settings.item_text_color }}">{{ block.settings.description }}</p>
                                        </div>
                                    </div>
                                </a>
                                {%- assign default_label = 'homepage.onboarding.collection_title' | t -%}
                                <h3 class="mt-4 text-{{ section.settings.text_alignment }}">
                                    <a class="xl:text-xl lg:text-lg font-medium block pr-4" href="{{ collection.url | default: "#" }}">
                                        {{ collection.title | default: default_label }}
                                        {% if section.settings.show_product_count == true %}
                                            <sup class="font-semibold text-xs">{{ collection.all_products_count }}</sup>
                                        {% endif %}
                                    </a>
                                </h3>
                            </div>
                        </div>
                {% endcase %}
            {% endfor %}
            {% if enable_slider == true %}</div> <!-- End .swiper-wrapper -->{% endif %}

        </div>
    </div>
{% endcapture %}

{% assign row_gap = section.settings.item_gap %}
{% assign row_gap_mobile = section.settings.mobile_gap %}
{% comment %}
{% if card_style == 'standard' and enable_slider == false %}
    {% assign row_gap = section.settings.item_gap | plus: 15 %}
{% endif %}
{% endcomment %}

<section
    id="sf__collection-list-{{ section.id }}"
    data-section-type="collection-list"
    data-section-id="{{ section.id }}"
    class="collection-list collection-list--{{ layout }}{% if enable_slider %} collection-list--slider-initialized{% endif %} {{ section.settings.custom_class }}"
    data-enable-slider="{{ enable_slider }}"
    {% if enable_slider %}
    data-gutter="{{ section.settings.item_gap }}"
    data-items="{{ section.settings.items_per_row }}"
    data-autoplay="{{ autorotate }}"
    data-autoplay-speed="{{ autorotate_speed }}"
    {% endif %}
    {% if has_bg %}
    data-bg="{{ bg_color | color_to_hsl }}"
    {% endif %}
    data-hover-effect="{{ section.settings.hover_effect }}"
    data-container="{{ section.settings.container }}"
    style="background-color: {{ bg_color }};"
>
    <div class="{{ container }}{% if section.settings.container == 'w-full' %} px-4{% endif %}" style="--column-gap: {{ section.settings.item_gap }}px; --column-gap-mobile: {{ section.settings.mobile_gap }}px; --row-gap-mobile: {{ row_gap_mobile }}px; --row-gap: {{ row_gap }}px; --items: {{ section.settings.items_per_row | plus: 1 }}">
        {% if layout == 'left-side' %}
            <div class="collection-list__inner{% if section.settings.container == 'w-full'%} px-4{% endif %}{% if enable_slider %}{% if section.settings.hidden_slide_control_mobile %} pb-0{% else %} pb-[70px] md:pb-0{% endif %}{% endif %}">
                {{ section_content }}
            </div>
        {% else %}
            <div class="collection-list__wrapper {% if enable_slider %}{% if section.settings.hidden_slide_control_mobile %} pb-0{% else %} pb-[70px] md:pb-0{% endif %}{% endif %}">
                {{ section_content }}
            </div>
        {% endif %}
    </div>
</section>

{% schema %}
    {
        "name": "Collection list",
        "max_blocks": 12,
        "settings": [
            {
                "type": "header",
                "content": "Section header"
            },
            {
                "type": "text",
                "id": "heading",
                "label": "Heading",
                "default": "Shop by collections"
            },
            {
                "type": "textarea",
                "id": "subheading",
                "label": "Subheading"
            },
            {
                "type": "textarea",
                "id": "description",
                "label": "Description"
            },
            {
                "type": "select",
                "id": "header_alignment",
                "label": "Text alignment",
                "default": "center",
                "options": [
                    {
                        "value": "left",
                        "label": "Left"
                    },
                    {
                        "value": "center",
                        "label": "Center"
                    }
                ]
            },
            {
                "type": "header",
                "content": "General"
            },
            {
                "type": "select",
                "id": "container",
                "label": "Container type",
                "default": "container-fluid",
                "options": [
                    {
                        "value": "container-fluid",
                        "label": "Default"
                    },
                    {
                        "value": "w-full",
                        "label": "Full width"
                    },
                    {
                        "value": "container",
                        "label": "Use container box"
                    }
                ]
            },
            {
                "type": "color",
                "id": "background_color",
                "label": "Background color"
            },
            {
                "type": "select",
                "id": "layout",
                "label": "Layout",
                "default": "grid",
                "options": [
                    {
                        "value": "grid",
                        "label": "Standard"
                    },
                    {
                        "value": "left-side",
                        "label": "Heading left side"
                    }
                ]
            },
            {
                "type": "header",
                "content": "Card settings"
            },
            {
                "type": "select",
                "id": "card_style",
                "label": "Card style",
                "default": "standard",
                "options": [
                    {
                        "value": "standard",
                        "label": "Standard"
                    },
                    {
                        "value": "boxed",
                        "label": "Boxed"
                    },
                    {
                        "value": "inside",
                        "label": "Content inside"
                    }
                ]
            },
            {
                "type": "select",
                "id": "text_alignment",
                "label": "Text alignment",
                "default": "left",
                "options": [
                    {
                        "value": "left",
                        "label": "Left"
                    },
                    {
                        "value": "center",
                        "label": "Center"
                    }
                ]
            },
            {
                "type": "select",
                "id": "hover_effect",
                "label": "Hover effect",
                "default": "scaling-down",
                "options": [
                    {
                        "value": "scaling-down",
                        "label": "Scaling down"
                    },
                    {
                        "value": "scaling-up",
                        "label": "Scaling up"
                    }
                ]
            },
            {
                "type": "checkbox",
                "id": "show_product_count",
                "label": "Show product count",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "count_inline_title",
                "label": "Product count inline",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "image_rounded",
                "label": "Image rounded",
                "default": false,
                "info": "Don't work well with \"Content inside\" layout"
            },
            {
                "type": "header",
                "content": "Grid settings"
            },
            {
                "type": "range",
                "id": "items_per_row",
                "label": "Collections per row",
                "min": 3,
                "max": 8,
                "step": 1,
                "default": 4
            },
            {
                "type": "range",
                "id": "item_gap",
                "label": "Column gap",
                "min": 0,
                "max": 50,
                "default": 30,
                "unit": "px"
            },
            {
                "type": "header",
                "content": "Slider settings"
            },
            {
                "type": "checkbox",
                "id": "enable_slider",
                "label": "Enable slider",
                "default": false
            },
            {
                "type": "checkbox",
                "id": "show_pagination",
                "label": "Show pagination",
                "default": false
            },
            {
                "type": "checkbox",
                "id": "show_navigation",
                "label": "Show navigation",
                "default": false
            },
            {
                "type": "checkbox",
                "id": "autorotate",
                "label": {"en": "Auto slide"},
                "default": false
            },
            {
                "type": "range",
                "id": "autorotate_speed",
                "label": {"en": "Auto slide every"},
                "max": 10,
                "min": 2,
                "step": 1,
                "unit": "s",
                "default": 5
            },
            {
                "type": "header",
                "content": "Mobile settings"
            },
            {
                "type": "checkbox",
                "label": "Use horizontal scrollbar",
                "id": "use_scroll_mobile",
                "default": true,
                "info": "Uncheck to display as grid"
            },
            {
                "type": "range",
                "id": "mobile_gap",
                "label": "Column gap",
                "min": 0,
                "max": 30,
                "default": 10,
                "unit": "px"
            },
            {
                "type": "checkbox",
                "id": "hidden_slide_control_mobile",
                "label": "Hide slider controls",
                "default": false
            },
            {
                "type": "text",
                "id": "custom_class",
                "label": "Custom classes"
            }
        ],
        "blocks": [
            {
                "type": "collection_block",
                "name": "Collection",
                "settings": [
                    {
                        "type": "collection",
                        "id": "collection",
                        "label": "Collection"
                    },
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title",
                        "info": "Leave blank to use collection's title"
                    },
					{
                        "type": "url",
                        "id": "url",
                        "label": "URL",
                        "info": "Leave blank to use collection's url"
                    },
                    {
                        "type": "image_picker",
                        "id": "item_image",
                        "label": "Featured image"
                    }
                ]
            },
            {
                "type": "banner",
                "name": "Banner",
                "settings": [
                    {
                        "type": "header",
                        "content": "General"
                    },
                    {
                        "type": "collection",
                        "id": "collection",
                        "label": "Collection"
                    },
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title",
                        "default": "New season in town"
                    },
                    {
                        "type": "textarea",
                        "id": "description",
                        "label": "Description",
                        "default": "Claritas est etiam processus dynamicus qui sequitur."
                    },
                    {
                        "type": "header",
                        "content": "Colors"
                    },
                    {
                        "type": "color",
                        "id": "item_bg",
                        "label": "Background",
                        "default": "#000"
                    },
                    {
                        "type": "color",
                        "id": "item_text_color",
                        "label": "Text color",
                        "default": "#fff"
                    }
                ]
            }
        ],
        "presets": [{
            "name": "Collection list",
            "category": "Collection",
            "blocks": [
                { "type": "collection_block" },
                { "type": "collection_block" },
                { "type": "collection_block" },
                { "type": "banner" }
            ]
        }]
    }
{% endschema %}
