{% comment %}
  Custom CSS here
  All custom CSS in this file will be kept when updating the theme
{% endcomment %}

.home-collection .collection-card{
	max-width: 250px;
    margin: 0 auto;
}

.sf-video__inner a {
  background: #ffdf00;
  border-radius: 3px;
  padding: 5px 15px;
}